<html ng-app="app">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />  
  </head>
<header>
    <nav class="navbar navbar-default">
    <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Sheldon CMS</a>
          </div>
          <ul class="nav navbar-nav">       
            <li><a href="/#/login">Login</a></li>
            <li><a href="/#/register">Register</a></li>
            <li><a href="/#/posts">New Post</a></li>
            <li><a href="/#/editposts">Existing Posts</a></li>
          </ul>
    </div>
  </nav>
</header>

<body >
<!--   <div class='col-md-2'></div>
  <div class='container col-md-8' ng-view></div> -->
  <div class="smaller" ng-view></div>
</body>

<script src="/main.js"></script>

<style>
  .smaller {
    max-width:862px;
    margin: auto;
  }
</style>

</html>






